<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
<strong>Contact</strong> <br>Johann Werner: johann@immedia.co.za

</P>
<%#<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
</p> %>